:root {
    --black:#1F2937;
    --main-text-color: #F9FAF8;
    --blue-button: #3882F6; 
    --quote-bg: #E5E7EB;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

.flex-header, .hero {
    background-color: var(--black);
    color: var(--main-text-color);
}

body {
    margin: 0;
}

body > * {
    padding: 0 12%;
}

button {
    border-radius: 9px;
    border: none;
    background-color: var(--blue-button);
    color: white;
    padding: 5px 25px
}

.flex-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-header div {
    text-align: center;
    display: flex;
}

.flex-header div h2 {
    font-size: 24px;
}

.flex-header .header-links {
    font-size: medium;
    align-items: center;
    display: flex;
    gap: 10px;
}

.hero {
    display: flex;
    word-wrap: break-word;
    justify-content: space-between;
    gap: 7%;
    padding-top: 8%;
    padding-bottom: 8%;
}

.hero > div {
    flex: 1;
}

.hero .hero-img {
    height: 250px;
    width: auto;
}

.flex-box {
    display: flex;
}

.info {
    flex-direction: column;
    padding-top: 3%;
    padding-bottom: 3%;
}

.info h2 {
    font: bolder 36px ;
    margin: 40px;
    /* font: 36px extra-bold #1F2937; */
    text-align: center;
}

.info .info-boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.info .info-boxes div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
}

.info .info-boxes div img {
    border: 2px solid #3882F6;
    border-radius: 20px;
    height: 130px; 
    width: 130px; 
    object-fit: cover;
}

.quote-sect {
    display: flex;
    padding: 2% 15%;
    flex-direction: column;
    justify-content: center;
    background-color: var(--quote-bg);
    height: 400px;
}

.quote-sect .quote-group {
    padding: 3%;
}

.quote-sect .quote {
    text-align: left;
    font-size: 36px;
    font-weight:300;
    font-style: italic;
    color: var(--black);
}

.quote-sect p {
    text-align: right;
    font-weight: bold;
    margin: 12px 20px;
}

.call-action {
    display: flex;
    justify-content: space-between;
    color: var(--main-text-color);
    background-color: var(--blue-button);
    border-radius: 10px;
    padding: 2% 8%;
    margin: 7% 12%;    
}

.call-action .cont-button {
    display: flex;
    align-items: center;
}

.call-action button {
    border: 1px;
    border-style: solid;
    height: 35px;
}

footer {
    background-color: var(--black);
    color: var(--main-text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    height: 70px;

    font-weight: lighter;
}